.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    margin-top: 10px;
  }
  
  .card {
    border: none;
    border-radius: 5px;
  }
  
  .card-img-top {
    width: 80%;
    border-radius: 5px 5px 0 0;
    padding: 30px;
  }
  
  .card-body {
    background-color: #fff;
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  