<div class="col-12">
  <button style="margin:20px" class="btn btn-link" routerLink="/products">
    Zurück zu den Produkten
  </button>
</div>

<div *ngIf="product" class="container">
  <div class="card shadow">
    <div style="text-align: center">
      <img [src]="product.imageUrl" class="card-img-top" alt="Product Image" />
    </div>

    <div class="card-body">
      <div *ngIf="!isEditing">
        <h2 class="card-title">{{ product.name }}</h2>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Price: {{ product.price }}</p>
        <p class="card-text">Category: {{ product.category }}</p>
      </div>

      <div *ngIf="isEditing">
        <label>Name:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="editedProduct.name"
          value="{{ product.name }}"
        />

        <label>Description:</label>
        <textarea
          style="min-height: 200px"
          class="form-control"
          [(ngModel)]="editedProduct.description"
          >{{ product.description }}</textarea
        >

        <label>Price:</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="editedProduct.price"
          value="{{ product.price }}"
        />

        <label>Category:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="editedProduct.category"
          value="{{ product.category }}"
        />
      </div>

      <div style="text-align: right">
        <div *ngIf="!isEditing">
          <button
            style="margin-right: 10px"
            type="button"
            class="btn btn-success"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
          <button
            style="margin-right: 10px"
            type="button"
            class="btn btn-primary"
            (click)="editProduct()"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteProduct()"
          >
            Delete
          </button>
        </div>

        <div *ngIf="isEditing" style="margin-top: 10px">
          <button
            style="margin-right: 10px"
            type="button"
            class="btn btn-primary"
            (click)="updateProduct()"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!product">
  <h1>Dieses Produkt ist nicht vorhanden.</h1>
</div>
