<div class="container mt-4">
    <h2 style="margin-bottom: 40px;">Shopping Cart</h2>
    <ul class="list-group mb-4">
      <li class="list-group-item" *ngFor="let product of products">
        <div class="row align-items-center">
          <div class="col-2">
            <img [src]="product.imageUrl" class="img-thumbnail" alt="Product Image">
          </div>
          <div class="col-6">
            <h5>{{ product.name }}</h5>
          </div>
          <div class="col-2">
            <p>Price: {{ product.price }}</p>
          </div>
          <div class="col-2 text-end">
            <button class="btn btn-danger" (click)="removeProduct(product.id)">Remove</button>
          </div>
        </div>
      </li>
    </ul>
    <h4 class="text-end">Total Price: {{ getTotalPrice() }}</h4>
  </div>