.card {
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  margin-bottom: 8px;
}

.container {
  margin-top: 20px;
}

@media (max-width: 767.98px) {
  .card {
    margin-bottom: 20px;
  }
}