<div class="container">
  <div class="container">
    <button class="btn btn-success" style="margin-bottom: 30px;"  (click)="showForm = !showForm">
      Create Product
    </button>    
    <button class="btn btn-primary" style="margin-bottom: 30px; margin-left: 20px;" routerLink="/cart">
      Shopping Cart
    </button>

    <!-- Product Form -->
    <div style="margin-bottom: 50px;"  class="product-form" *ngIf="showForm">
      <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="newProduct.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            required
            [(ngModel)]="newProduct.description"
            name="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            required
            [(ngModel)]="newProduct.price"
            name="price"
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            required
            [(ngModel)]="newProduct.category"
            name="category"
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            [(ngModel)]="newProduct.imageUrl"
            name="imageUrl"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
        <div class="card h-100" [routerLink]="['/product', product.id]">
          <img
            class="card-img-top"
            [src]="product.imageUrl"
            alt="Product Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Category: {{ product.category }}</p>
            <p class="card-text">Price: {{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
